.container {
  width: 100%;
  margin: 0 auto;
}

.header_inner {
  display: flex;
  align-items: center;
}

.header_inner img {
  height: 190px;
  margin-right: 20px;
  margin: auto;
}


nav {
  background-color: #3c3c3c;
  padding: 15px 0;
  text-align: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  padding: 6px 12px;
  border-radius: 6px;
}

.nav-link:hover {
  background-color: #555;
}

.main-image {
    width: 100%;
    height: auto;
}
.removeBtn {
    display: inline-block;
    padding: 90px 50px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    width: 140px;
    height: 65px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    margin-top: 20px;
    transition-property: transform, box-shadow;
    transform: none;
    transition-duration: 0.2s;
}

.removeBtn:hover {
    display: inline-block;
    padding: 90px 50px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    width: 140px;
    height: 65px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    margin-top: 20px;
    transition-property: transform, box-shadow;
    transform: none;
    transition-duration: 0.2s;
}

.block {
    background-color: #3c3c3c;
    padding: 15px 0;
    text-align: center;
    margin-top: -5px;
}
.container-2 {
    margin: 0 auto;
    width: 1000px;
    padding: 10px 0;
    text-align: center;
    border: #3c3c3c 2px solid;
    border-radius: 50px;
    background-color: #5f5f5f;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.search-input {
    width: 600px;
    height: 35px;
    border: 2px solid #b4b4b4;
    border-radius: 50px;
    padding: 0 10px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}
.search-button {
    height: 35px;
    border: 2px solid #b4b4b4;
    border-radius: 50px;
    padding: 0 35px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    margin-left: 30px;
}
.title1 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    padding: 180px;
}
.title2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    padding: 180px;
}
.title3 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    padding: 180px;
}
.block-2 {
    padding: 15px;
    max-width: 1900px;
    border-radius: 25px;
    left: 50%;
    background-color: #5f5f5f;
}

.order-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3c3c3c;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 2px 2px 5px 2px #b6b6b6;
    transition-property: transform, box-shadow;
    transform: none;
    transition-duration: 0.2s;
}

.order-btn:hover {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3c3c3c;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 2px 2px 5px 2px #b6b6b6;
    transition-property: transform, box-shadow;
    transform: scale(1.05) rotate(5deg);
    transition-duration: 0.2s;
}

#order-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.order-modal-content {
    background-color: #3c3c3c;
    padding: 20px;
    border-radius: 20px;
    color: white;
    font-family: "Montserrat", sans-serif;
    width: 400px;
}

#order-form label {
    display: block;
    margin-top: 10px;
}

#order-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #b4b4b4;
    border-radius: 30px;
}

#order-confirm {
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    transition-property: transform, box-shadow;
    transform: none;
    transition-duration: 0.2s;
}



#order-cancel {
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    transition-property: transform, box-shadow;
    transform: none;
    transition-duration: 0.2s;
}

#order-confirm:hover {
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    transition-property: transform, box-shadow;
    transform: none;
    transition-duration: 0.2s;
}
#order-cancel:hover {
    background-color: #818181;
    box-shadow: 2px 2px 5px 2px #b6b6b6;
    transition-property: transform, box-shadow;
    transform: scale(1.05) rotate(5deg);
    transition-duration: 0.2s;
}

#cart-close {
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-family: "montserrat", sans-serif;
    padding: 10px 20px;
    cursor: pointer;
}

#cart-close:hover {
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-family: "montserrat", sans-serif;
    padding: 10px 20px;
    cursor: pointer;
    gap: 20px;
    transition-property: transform, box-shadow;
    transform: scale(1.05) rotate(5deg);
    transition-duration: 0.2s;
}

.quantity-block {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-block button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
}


#cart:hover {
    background-color: #555;
    box-shadow: 2px 2px 5px 2px #b6b6b6;
    transition-property: transform, box-shadow;
    transform: scale(1.05) rotate(5deg);
    transition-duration: 0.2s;
}

#cart-container {
    position: fixed;
    top: 70px;
    right: 20px;
    background-color: #3c3c3c;
    color: white;
    padding: 20px;
    border-radius: 20px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    max-width: 350px;
    max-height: 1500px;
    overflow: auto;
    box-shadow: 2px 2px 5px 2px #b6b6b6;
}

#cart-container .cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#cart-container .cart-item .removeBtn {
    padding: 5px 10px;
    font-size: 14px;
}

#cart-container .cart-total {
    font-weight: bold;
    margin-top: 10px;
}

#cart-container .cart-total:hover {
    background-color: #555;
    box-shadow: 2px 2px 5px 2px #b6b6b6;
    transition-property: transform, box-shadow;
    transform: scale(1.05) rotate(5deg);
    transition-duration: 0.2s;
}

#cart-container .cart-item .removeBtn:hover {
    background-color: #ff0000;
    box-shadow: 2px 2px 5px 2px #b6b6b6;
    transition-property: transform, box-shadow;
    transform: scale(1.05) rotate(5deg);
    transition-duration: 0.2s;
}

#cart-container .cart-item .removeBtn:active {
    background-color: #ff0000;
    box-shadow: 2px 2px 5px 2px #b6b6b6;
    transition-property: transform, box-shadow;
    transform: scale(1.05) rotate(-5deg);
    transition-duration: 0.2s;
}

#cart-container .cart-total:hover {
    background-color: #555;
    box-shadow: 2px 2px 5px 2px #b6b6b6;
    transition-property: transform, box-shadow;
    transform: scale(1.05) rotate(5deg);
    transition-duration: 0.2s;
}

#cart-container .cart-total:active {
    background-color: #555;
    box-shadow: 2px 2px 5px 2px #b6b6b6;
    transition-property: transform, box-shadow;
    transform: scale(1.05) rotate(-5deg);
    transition-duration: 0.2s;
}

#cart-container .cart-item .removeBtn:active {
    background-color: #ff0000;
    box-shadow: 2px 2px 5px 2px #b6b6b6;
    transition-property: transform, box-shadow;
    transform: scale(1.05) rotate(5deg);
    transition-duration: 0.2s;
}

.products {
    display: flex;
    gap: 50px;
    padding: 50px;
    justify-content: center;
    flex-wrap: wrap;
}
.product-card {
    width: 300px;
    padding: 25px;
    height: 700px;
    background-color: #E8E8E8;
    border-radius: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.product-img img{
    width: 100%;
    height: auto;
    border-radius: 50px;
    object-fit: cover;
}
.product-price {
    font-size: 38px;
    font-weight: bold;
    color: #333;
    margin-top: 15px;
}
.product-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3C3C3C;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    width: 140px;
    height: 65px;
    box-shadow: 2px 2px 5px 2px #b6b6b6;
    transition-property: transform, box-shadow;
    transform: none;
    transition-duration: 0.2s;
}
.product-btn:hover {
    background-color: #555;
    box-shadow: 2px 2px 5px 2px #b6b6b6;
    transition-property: transform, box-shadow;
    transform: scale(1.05) rotate(5deg);
    transition-duration: 0.2s;
}
footer {
    background-color: #3c3c3c;
    padding: 15px 0;
    text-align: center;
    margin-top: 100px;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 25px;
}

.minus-btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #3c3c3c;
    color: white;
}

.plus-btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #3c3c3c;
    color: white;
}

.minus-btn:hover {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #6e6e6e;
    color: white;
}

.plus-btn:hover {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #6e6e6e;
    color: white;
}